<div class="container">
  <div id="signup">
    <div class="signup-screen">
      <div class="space-bot text-center">
        <h1>Edit Your Profile</h1>
        <div class="divider"></div>
      </div>

      <form name="usersEdit.userForm"
      class="usersEdit.userForm" ng-submit="usersEdit.update()" novalidate>

        <div class="input-field col s6">
          <md-input-container>
            <label for="username">Username</label>
            <input id="username" type="text" name="username"  ng-model="usersEdit.user.username">
          </md-input-container>
        </div>

        <div class="input-field col s6">
          <md-input-container>
            <label for="email">Email</label>
            <input id="email" type="email" name="email"  ng-model="usersEdit.user.email">
          </md-input-container>
        </div>

        <div class="input-field col s6">
          <md-input-container>
            <label for="location">Location</label>
            <input id="location" type="text" name="location" autocomplete ng-model="usersEdit.user.location" lat="usersEdit.user.lat" lng="usersEdit.user.lng" required>
          </md-input-container>
        </div>

        <div class="input-field col s6">
          <md-input-container>
            <label for="about">Who are you?</label>
            <textarea id="about" type="text" name="about" ng-model="usersEdit.user.about"  maxlength="255"></textarea>
          </md-input-container>
        </div>

        <div class="input-field col s6">
          <md-input-container>
            <label for="learning">Which languages are you learning?</label>
            <textarea id="learning" type="text" name="learning" ng-model="usersEdit.user.learning" maxlength="255"></textarea>
          </md-input-container>
        </div>

        <div class="input-field col s6">
          <label for="profilePic" class="waves-effect waves-light btn done">Choose Profile Image</label>
          <input base64 type="file" name="profilePic" id="profilePic" ng-model="usersEdit.user.profilePic" placeholder="Profile image link.." style="display:none">
        </div>

        <div class="md-padding" ng-cloak>
          <div>
            <h1 class="md-title">Pick at least one language and level to exchange</h1>
            <div layout="row" ng-repeat="i in [0,1,2,3,4]">
              <md-input-container>
                <label>Language</label>
                <md-select ng-model="usersEdit.user.skills[i].language">
                <md-option ng-value="skill.id" ng-repeat="skill in usersEdit.skills">{{skill.lang}}</md-option>
                </md-select>
              </md-input-container>

              <md-input-container>
                <label>Level</label>
                <md-select ng-model="usersEdit.user.skills[i].level">
                <md-option ng-value="level" ng-repeat="level in usersEdit.levels">{{level}}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>

        <div class="space-top text-center">
          <md-button type="update" ng-click="usersEdit.update()" class="waves-effect waves-light btn done">
          <i class="material-icons left"></i>Update Profile
          </md-button>
        </div>
      </form>
    </div>
  </div>
</div>
