<!DOCTYPE html>
<div>
  <form name="usersEdit.userForm" ng-submit="usersEdit.update()" novalidate>

   <div>Username:
     <input type="text" name="username" id="username" ng-model="usersEdit.user.username" placeholder="Username..." required minlength="2">
   </div>
   <!-- Error message! -->
   <div class="errorDiv" ng-messages="usersEdit.userForm.username.$error" ng-show="(usersEdit.userForm.$submitted || usersEdit.userForm.username.$touched)">
     <div ng-message="required"><em class="error">Username is required!</em></div>
     <div ng-message="minlength"><em class="error">Username not long enough</em></div>
   </div>

   <div>Email:
     <input type="email" name="email" id="email" ng-model="usersEdit.user.email" placeholder="Email" ng-pattern="/@/" required>
   </div>
   <!-- Error message! -->
   <div class="errorDiv" ng-messages="usersEdit.userForm.email.$error" ng-show="(usersEdit.userForm.$submitted || usersEdit.userForm.email.$touched)">
     <div ng-message="required"><em class="error">Email is required!</em></div>
     <div ng-message="pattern"><em class="error">Email not valid</em></div>
   </div>

   <div>Profile Image:
     <input type="text" name="profilePic" id="profilePic" ng-model="usersEdit.user.profilePic" placeholder="Profile image link.." required>
   </div>
   <!-- Error message! -->
   <div class="errorDiv" ng-messages="usersEdit.userForm.profilePic.$error" ng-show="(usersEdit.userForm.$submitted || usersEdit.userForm.profilePic.$touched)">
     <div ng-message="required"><em class="error">Image link is required</em></div>
   </div>

   <!-- <div>Location:
     <input type="text" name="location" id="location" ng-model="usersEdit.user.location" placeholder="Location..." required>
   </div> -->
   <!-- Error message! -->
   <!-- <div class="errorDiv" ng-messages="usersEdit.userForm.location.$error" ng-show="(usersEdit.userForm.$submitted || usersEdit.userForm.location.$touched)">
     <div ng-message="required"><em class="error">Location is required</em></div>
   </div> -->

   <!-- <div>Primary skill (required):
     <input type="text" name="language1" id="language1" ng-model="usersEdit.user.skills[0].language.lang" placeholder="Skill name..." required>
     <input type="text" name="level1" id="level1" ng-model="usersEdit.user.skills[0].level" placeholder="Skill level..." required>
   </div> -->
   <!-- Error message! -->
   <!-- <div class="errorDiv" ng-messages="usersEdit.userForm.skills[0].language.lang.$error" ng-show="(usersEdit.userForm.$submitted || usersEdit.userForm.skills[0].language.lang.$touched)">
     <div ng-message="required"><em class="error">Primary skill and level are required</em></div>
   </div> -->

   <!-- <div>Any other skills:
     <input type="text" name="language2" id="language2" ng-model="usersEdit.user.skills[1].language.lang" placeholder="Skill 2">
     <input type="text" name="level2" id="level2" ng-model="usersEdit.user.skills[1].level" placeholder="Skill level">
   </div>
   <div>
     <input type="text" name="language3" id="language3" ng-model="usersEdit.user.skills[2].language.lang" placeholder="Skill 3">
     <input type="text" name="level3" id="level3" ng-model="usersEdit.user.skills[2].level" placeholder="Skill level">
   </div> -->

    <h3>Primary Language</h3>
      <select ng-options="skill.id as skill.lang for skill in usersEdit.all" ng-model="usersEdit.user.skills[0].language"></select>

      <select ng-model="usersEdit.user.skills[0].level">
        <option>Elementary Working Proficiency</option>
        <option>Limited Working Proficiency</option>
        <option>Professional Working Proficiency</option>
        <option>Full Professional Proficiency</option>
        <option>Native or Bilingual Proficiency</option>
      </select>

    <h3>Other languages</h3>
    <!-- 2nd language -->
    <h4>2nd language</h4>
      <select ng-options="skill.id as skill.lang for skill in usersEdit.all" ng-model="usersEdit.user.skills[1].language"></select>

      <select ng-model="usersEdit.user.skills[1].level">
        <option>Elementary Working Proficiency</option>
        <option>Limited Working Proficiency</option>
        <option>Professional Working Proficiency</option>
        <option>Full Professional Proficiency</option>
        <option>Native or Bilingual Proficiency</option>
      </select>

      <!-- 3rd language -->
      <h4>3rd language</h4>
      <select ng-options="skill.id as skill.lang for skill in usersEdit.all" ng-model="usersEdit.user.skills[2].language"></select>

      <select ng-model="usersEdit.user.skills[2].level">
        <option>Elementary Working Proficiency</option>
        <option>Limited Working Proficiency</option>
        <option>Professional Working Proficiency</option>
        <option>Full Professional Proficiency</option>
        <option>Native or Bilingual Proficiency</option>
      </select>

      <!-- 4th language -->
      <h4>4th language</h4>
      <select ng-options="skill.id as skill.lang for skill in usersEdit.all" ng-model="usersEdit.user.skills[3].language"></select>

      <select ng-model="usersEdit.user.skills[3].level">
        <option>Elementary Working Proficiency</option>
        <option>Limited Working Proficiency</option>
        <option>Professional Working Proficiency</option>
        <option>Full Professional Proficiency</option>
        <option>Native or Bilingual Proficiency</option>
      </select>

      <!-- 5th language -->
      <h4>5th language</h4>
      <select ng-options="skill.id as skill.lang for skill in usersEdit.all" ng-model="usersEdit.user.skills[4].language"></select>

      <select ng-model="usersEdit.user.skills[4].level">
        <option>Elementary Working Proficiency</option>
        <option>Limited Working Proficiency</option>
        <option>Professional Working Proficiency</option>
        <option>Full Professional Proficiency</option>
        <option>Native or Bilingual Proficiency</option>
      </select>

   <div>
     <button>Update</button>
   </div>
 </form>
</div>
