<h1>G-Unit Test</h1>
<div class="leftSideIndex">
  <div class="indexCard" ng-repeat="user in usersIndex.all">
    <h1>{{ user.username }}</h1>
    <img class="indexProfilePic" src="{{ user.profilePic }}" alt="">
    <!-- <p>User ID: {{ user.id }}</p> -->
    <!-- <p>Email: {{ user.email }}</p> -->
    <!-- <h1>Skills Object: {{ user.skills }}</h1> -->
    <p>Primary Language: {{ user.skills[0].language.lang }}</p>
    <p>Level: {{ user.skills[0].level }}</p>
    <!-- <p>Language ID: {{ user.skills[0].id }}</p> -->
    <p>See more <a ui-sref="usersProfile({ id: user.id })">Here</a></p>
    <p>Message {{ user.username }} <a ui-sref="message({ id: user.id })">Here</a></p>
    <!-- lock down message button if it's your own profile -->
  </div>
</div>
<google-map center="{ lat: 51.55, lng: -0.07 }"></google-map>
<!-- <div class="RightSideIndex">
<p>MAP GOES HERE</p>
</div> -->
