<!-- Hide this div section when logged in -->
<div class="signup-screen" ng-hide="main.isAuthenticated()">

  <div class="overlay"></div>

  <div ng-hide="main.isAuthenticated()" class="index-login">
    <br>
    <div class="index-title">Speak<span class="font-anton">Easy</span></div>
    <br><br>
    <div class="index-strapline">Meet up, Speak up, Language exchange...</div>
    <br>
    <div class="login-buttons">

      <md-button type="submit" class="waves-effect waves-light btn done" ui-sref="login">
        <i class="material-icons left"></i> Login
      </md-button>

      <md-button type="submit" class="waves-effect waves-light btn done" ui-sref="register">
        <i class="material-icons left"></i> Register
      </md-button>

    </div>
  </div>
</div>


<div class="section">
  <div class="row">
    <div class="col-xs-8">
      <div class="searchBoxIndex">
        <input type="text" class="search" ng-model="usersIndex.q" placeholder="Search...">
      </div>
      <div class="row leftSideIndex">
        <div class="col-xs-4" ng-repeat="user in usersIndex.filtered | orderBy:'-created_at'">
          <div class="card">
            <h3>{{ user.username }}</h3>
            <div>
              <a ui-sref="usersProfile({ id: user.id })"><img class="img-small" src="{{ user.profilePic }}"></a>
            </div>
            <p>{{ user.skills[0].language.lang || 'No skills yet' }} ({{ user.skills[0].level || 'Beginner' }})</p>
            <p><a ui-sref="usersProfile({ id: user.id })">View Profile</a></p>
            <p ng-if="main.isAuthenticated() && main.currentUser.locked === false && main.currentUser.id !== user.id"><a ui-sref="message({ id: user.id })">Send Message</a></p>
            <p ng-if="main.isAuthenticated() && main.currentUser.locked === true && main.currentUser.id !== user.id"><a><strike>Send Message</strike></a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4 rightSideIndex">
      <input id="slider" type="range" min="1000" max="100000" step="1000" value="10000">
      <p>Display users within <span id="sliderAmount">10</span> km</p>
      <google-map users="usersIndex.filtered" ng-if="usersIndex.filtered" query="usersIndex.q"></google-map>
    </div>
  </div>
</div>
