<div class="container">
  <div id="signup">
    <div class="signup-screen">
      <div class="space-bot text-center">
        <h1>Edit</h1>
        <div class="divider"></div>
      </div>

<div ng-controller="MessageCtrl as message">

  <h2>Send an email to {{ message.user.username }}...</h2>
  <img  class="img-small" src="{{ message.user.profilePic }}">

    <h3>{{ message.user.username }}'s skills...</h3>
    <h4 ng-repeat="details in message.user.skills track by $index">{{ details.level}} in {{ details.language.lang }}</h4>

    <!-- Add interests here-->

    <h2>Dear {{ message.user.username }}...</h2>

  <form name="contactForm" ng-submit="message.sendMail()"  novalidate>

    <div>Your name:
      <input type="text" ng-model="message.contactName" required>
    </div>

    <!-- Hidden field for email to send message to -->
    <div>
      <input type="hidden" name="sendingTo" ng-model="message.user.email">
    </div>

    <div>Your email:
      <input type="email" ng-model="message.contactEmail" required>
    </div>

    <div>Message:
      <textarea ng-model="message.contactMsg" columns="1" required></textarea>
    </div>

    <button type="submit">Send Message</button>
  </form>
</div>
    </div>
  </div>
</div>
