<!DOCTYPE html>
<div class="container">
   <div id="signup">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h1>Login</h1>
           <div class="divider"></div>
         </div>



<form name="login.loginForm" class="login.loginForm" ng-submit="login.submit()" novalidate>


  <div class="input-field col s6">
    <md-input-container>
    <label for="email">Email</label>
    <input id="email" type="email" name="email"  ng-model="login.credentials.email" required>
    </md-input-container>

    <!-- Error message! -->
    <p class="alert alert-danger" ng-show="(login.loginForm.email.$submitted || login.loginForm.email.$touched) &&  login.loginForm.email.$invalid">Your email is invalid.</p>
  </div>
  <!-- ////////////////////////////// -->


  <div class="input-field col s6">
    <md-input-container>
    <label for="password">Password</label>

    <input id="password" type="password" name="password" ng-model="login.credentials.password" ng-minlength="4" class="validate" required>


  </md-input-container>
  </div>

  <!-- Error message! -->
  <p class="alert alert-danger" ng-show="login.loginForm.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>

  <!-- Error message! -->

  <!-- <div class="errorDiv" ng-messages="login.loginForm.password.$error" ng-show="(login.loginForm.$submitted || login.loginForm.password.$touched)">
    <div ng-message="required"><em class="error">Enter your password!</em></div>
  </div> -->

  <div class="space-top text-center">
    <md-button type="submit" ng-disabled="login.loginForm.$invalid" class="waves-effect waves-light btn done">
      <i class="material-icons left"></i> Done
    </md-button>



  <!-- <div>
    <button type="submit" class="md-button-inner">Login</button>
  </div> -->

</form>
    </div>
  </div>
</div>
