<!DOCTYPE html>
<html ng-app="skillsApp">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>Project 3</title>
  <!-- inject:js -->
  <!-- endinject -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- inject:css -->
  <!-- endinject -->
  <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&key=AIzaSyC_ex1iDhGsCrFyAI6pyw9HFqfWskTbXv0"></script>
</head>
<body ng-controller="MainCtrl as main">
  <nav class="navbar navbar-inverse" role="navigation">
  <div class="section-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="/">Speak<span>Easy</span></a></li>
      <li ng-if="main.isAuthenticated()"><a ui-sref="usersProfile({ id: main.currentUserId })">My Profile</a></li>
      <li ng-if="!main.isAuthenticated()"><a ui-sref="skillsNew">Add new skill</a></li>
      <li ng-if="!main.isAuthenticated()"><a ui-sref="login">Login</a></li>
      <li ng-if="!main.isAuthenticated()"><a ui-sref="register">Register</a></li>
      <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#">Logout</a></li>
    </ul>
    </div>
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="search" ng-model="main.q" placeholder="Search...">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
{{ main.currentUser }}
  <main ui-view>

  </main>
</body>
</html>
