* {
  font-family: 'Roboto';
}

.profile-warning {
  text-align: center;
  color: red;
  font-size: 20px;
}

// Scroll for users on index page
.leftSideIndex {
  overflow: scroll;
  height: 85vh;
  h3 {
    padding-top: 5px;
    color: white;
  }
}

//Index page search box
.searchBoxIndex{
  .search{
    color: black;
    height: 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  margin: 0 auto;
  width: 100%;
}

span {
  color: white;
}

.infowindow {
  width: auto;
  height: auto;
  img {
    height:100px;
    width: 70px;
  }
}

.rightSideIndex{
  text-align: center;
  p {
    color: white;
    font-size: 16px;
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  height: 250px;
  background-color: #2d3d45;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.inside-section {
    padding: 2px 16px;
}

.img-small {
  height: 35%;
  width: 35%
}

#slider{
  margin: 5px;
}

li{
  display: inline;
}

.navbar-form{
  float: right;
}

.google-map{
  height: 75vh;
  width: 100%;
  display: inline-block;
  border: 2px solid #b5b2b2;
}

li{
  display: inline;
}

.navbar-form{
  float: right;
}

// ANGULAR FORM

body {
    height: auto;
    background-color: #263238;
}

.text-center{
  text-align: center;
}

.space-bot{
  margin-bottom: 35px;
}

.space-top{
  margin-top: 35px;
}

/* Title */

h1 {
  color: white;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}

/* Register Form */

.container {
  margin-top: 10px;
}

.alert-danger{
	text-align: center;
}

.signup-screen{
	  padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: #2c3940;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: white;

}

.btn{
  border-radius: 2px;
}

.cancel{
  background-color: #df405a;
}

.done{
  background-color: #5CAB7D;
}

.done:hover{
  background-color: #6dc793;
}

.done:focus{
  background-color: #6dc793;
}

.cancel:hover{
  background-color: #f0435f;
}

.cancel:focus{
  background-color: #f0435f;
}

.input-group {
    width:100%;
}

.input-group .ng-invalid {
    border: 2px solid #e74c3c;
    border-radius: 3px;
}

/* Error Box */

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  border-color: #e85a71;
  background-color:  #e85a71;
  color: white;
}

.help-block {
    font-size: 12px;
    color: white
}

.md-input-has-value {
  width: 100%;
}

md-input-container {
  width: 100%;
}

md-input-container label {
  color: white;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
  color: white;
  border-color: white;
}

div.layout {
  text-align: center;
}

input[type='file']{
  height: 0.1px;
}

.login-buttons {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  z-index: 99;
}

.index-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: #2c3940;
  padding: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(1,1,1,1.2);
  transition: 0.3s;
  border-radius: 5px;
}

.index-title {
  font-family: 'Lobster', cursive;
  color: #1E90FF;
  font-size: 100px;
  text-align: center;
  text-shadow: 3px 3px #000000;
}

.index-strapline {
  text-align: center;
  color: yellow;
  font-size: 20px;
}

.font-fjala {
  font-family: 'Fjalla One', sans-serif;
}

.font-anton {
  font-family: 'Anton', sans-serif;
}
