//Index page styling

.leftSideIndex{
  // background-color: red;
  width: 66%;
  float: left;
}

.indexCard{
  border: 1px solid black;
  width: 250px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.indexProfilePic{
  height: 200px;
  width: 200px;
}

.RightSideIndex{
  background-color: green;
  width: 30%;
  text-align: center;
  display: inline-block;
}

.google-map{
  float: right;
  height: 90vh;
  width: 33%;
  display: inline-block;
  border: 2px solid red;
}

li{
  display: inline;
}

.navbar-form{
  float: right;
}
