//Index page styling

.leftSideIndex{
  // background-color: red;
  width: 52%;
}

.indexCard{
  border: 1px solid black;
  width: 300px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.RightSideIndex{
  background-color: green;
  width: 30%;
  text-align: center;
  display: inline-block;
}
